h1 {
    letter-spacing: 4px;
    text-align: center;
}
h2 {
    text-align: center;
    letter-spacing: 1px;
}
div {
    text-align: center;
}
img{
    margin: 10px
    }
h1{
    margin: 30px;
}
h1{
    font-family: Georgia, serif;
}
body{
    background-color: rgb(203, 207, 168);
}
h2{
    text-decoration: underline;
}
h2{
    paddling: 24px;
    font-size: 2rem;
    texte-align: center;
    animation : reveal linear;
    animation-timeline : view();
}
